h1 {
    margin-top:100px;
    font-size:50px;
    font-family: sans-serif;
}

h4 {
    font-family: georgia;
    font-style:italic;
    float:right;
    margin-top:-20px;
}

//.box {
//    width:220px;
//
//
//    margin:0px;
//
//}
#container {
    width: 1000px;
    margin: 0 auto;
}

.box {
    border:5px solid gray;
    padding:20px;
    margin: 5px 0px;
    float: left;
    -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-b-x-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;
}

.row {
    padding: 20px;
}

.label {
    font-size:300%;
    display: inline-blocks;
    margin-bottom:5px;
}

//HERE IS WHERE KENDRA STARTED WORKING

body {
    width: 900px;
    margin-right:auto;
    margin-left:auto;
    /*      border: 2px solid gray;*/
    }
.header {
    height:120px;
    /*      border:2px solid gray;*/
    }
.twitter_handle {
    float:left;
    margin:20px;
    padding:10px;
    background-color:white;
    border: 2px solid gray;
    font-family: 'Lato', sans-serif;
    font-size:30px;
    }
.inner_header {
    width:700px;
    /*height: 80px;*/
    margin-right:auto;
    margin-left:auto;
    border:2px solid gray;
    background-color:gray;
    color: white;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-size:80px;
    }

.left_center_container {
    width:700px;
    float:left;
    /*border:2px solid red;*/
    }

.left_column{
    width:160px;
    margin:5px;
    padding:10px;
    border:2px solid gray;
    float:left;
    }

.center_column{
    width:500px;
    border:2px solid gray;
    float:right;
    }

.right_column {
    width:160px;
    margin:5px;
    padding:10px;
    border:2px solid gray;
    float:right;
    }

.tags_left {
    font-family:"Verdana", sans-serif;
//    font-weight:bold;
    font-size: 20px;
    padding: 7px;
    border: 2px solid white;
    text-decoration:none;
    color: white;
    background-color: gray;
    text-align:right;
}
.urls_right {
    font-family:"Verdana", sans-serif;
//    font-weight:bold;
    font-size: 12px;
    padding: 7px;
    border: 2px solid white;
    text-decoration:none;
    color: white;
    background-color: gray;
    text-align:left;

}


















