h1 {
    margin-top:100px;
    font-size:50px;
    font-family: sans-serif;
}

h4 {
    font-family: georgia;
    font-style:italic;
    float:right;
    margin-top:-20px;
}

//.box {
//    width:220px;
//
//
//    margin:0px;
//
//}
#container {
    width: 1000px;
    margin: 0 auto;
}

.box {
    border:5px solid gray;
    padding:20px;
    margin: 5px 0px;
    float: left;
    -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-b-x-shadow: 5px 5px 5px #777777;
    box-shadow: 5px 5px 5px #777777;
}

.row {
    padding: 20px;
}

.label {
    font-size:300%;
    display: inline-blocks;
    margin-bottom:5px;
}
//HERE IS WHERE KENDRA STARTED WORKING
.showpage_body{
//    background-image:url('http://i.imgur.com/J39VP.jpg');
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment:fixed;
}

.showpage_container{
    width:900px;
    margin-right: auto;
    margin-left: auto;
//    border: 2px solid #009966;

}

.header {
    margin-top:20px;
    color: #669999;
    height:100px;
    font-family:sans-serif;
    font-size:50px;
    text-align: center;
    font-style:italic;
    font-weight:bold;
    border: 2px solid #006699;
    background-color:white;
}
.inner_header {
    background-color: #006699;
}
.tag_container {
    width:150px;
    float:left;
    margin:10px;
}
.tweetandtag_container{
    width: 500px;
    margin-right: auto;
    margin-left:auto;
//    border: 2px solid #006699;
}
.tweet_container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #006699;
}
//tags on tweets
.tags {
    font-family:"Verdana", sans-serif;
    font-weight:bold;
    font-size: 14;
    padding: 3px;
    margin: 10px;
    border: 1px solid #585858;
    color: white;
    background-color:gray;
    float:right;

}

.tweets {
    padding: 4px;
    margin: 2px;
    font-family: sans-serif;
    font-size:18px;
//    background-color:#99FFFF;
    background-color: white;
    color:gray;
    border: 3px solid #33FFFF;
    width: 450px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

.show_body {
    background-color: #99FFFF;
}

.tags_left {
    font-family:"Verdana", sans-serif;
//    font-weight:bold;
    font-size: 20px;
    padding: 7px;
    border: 2px solid white;
    text-decoration:none;
    color: white;
    background-color: gray;
    text-align:right;
}

a:link, a:visited, a:hover, a:active, a:focus {
    color: white;
}
.photo {
    margin:10px;
    padding:5px;
    width:115px;
    text-align: center;
//    background-color: gray;
    border: 2px solid white;
}















